.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close {
  /* background: transparent url(../images/close-button.svg) no-repeat; */
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 28px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
}

.modal__title {
  margin: 0;
}

.modal__content {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 496px;
  width: 100%;
  min-height: 436px;
  border-radius: 10px;
  margin: auto;
  padding: 28px 28px 36px;
  position: relative;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
}
