.card {
  max-width: 323px;
  min-height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  border: 2px solid #fff;
  border-width: 2px 12px;
  border-radius: 6px;
  background-color: #fff;
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-size: 16px;
  color: #00000099;
}

.card__image {
  width: 100%;
  border-radius: 16px;
}

.card__name-like-container {
  display: flex;
  position: absolute;
  top: 15px;
  gap: 10px;
  align-items: center;
}

.card__like {
  background: transparent;
  border: none;
  cursor: pointer;
  background-image: url(../../assets/like-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 15px;
}

.card__like_active {
  background-image: url(../../assets/like-button-active.svg);
}
