@font-face {
  font-family: "CabinetGrotesk";
  font-style: normal;
  font-weight: 500;
  src: url(../../vendor/Fonts/CabinetGrotesk-Medium.woff) format("woff");
}

.app {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk", Arial, sans-serif;
}

.app__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
