.modal__content_type_image {
  padding: 0;
}

.modal__close_type_preview {
  background: transparent url(../../assets/close-button-preview-modal.svg)
    no-repeat;
}

.modal__description {
  display: flex;
  flex-direction: column;
  margin: 20px 0 32px 32px;
  position: relative;
}

.modal__description-name {
  font-size: 20px;
  line-height: 0.8;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal__description-weather {
  font-size: 20px;
  line-height: 0.8;
  margin: 0;
}

.modal__delete-button {
  color: #ff4d00;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 0px;
  right: 32px;
  cursor: pointer;
}
